# Ignore data directories
data
results
testing
training

# Ignore model checkpoint files
*.pth.tar

# Ignore Jupyter Notebook
Model_Test.ipynb
load_phinet.py
lunch_ExpReplay.py
.gitignore
lunch_ExpReplay2.py
lunch_LatentReplay.py
lunch_FineAndJoint.py
lunch_LatentReplay2.py
lunch_LatentReplay3.py
lunch_LatentReplayQuant.py
Model_Test.ipynb
LatentReplayQuant.py
*.log